﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LiTechAdmin/LiTechAdmin.Master" AutoEventWireup="true" CodeBehind="Upload.aspx.cs" Inherits="LightningTech.LiTechAdmin.Upload" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
