﻿/*
 *  Document   : style.css
 *  Author     : SoftDigix Theme
 *  Description: This style sheet is used for light layout theme customizations.


						1. USER LIST 
						2. NOTIFICATIONS
						3. EMAIL
						4. SELECT ITEM
						5. THEME CHANGE WINDOW
						6. SOCIAL BUTTONS
						7. MEGA MENU
                        8. WIDGET
                        word wrap 
 */
/**************************************
New Styles
***************************************/
.img-rounded {

border-radius: 50%;
width:35px;
height: 29px;
}


.img-rounded2 {

border-radius: 50%;
width:100px;
height: 75px;
border: 1px solid rgba(52, 73, 94, 0.44);
}

.img-rounded3 {

border-radius: 50%;
width:125px;
height: 125px;
border: 1px solid rgba(52, 73, 94, 0.44);
}
/**************************************
			1. USER LIST
***************************************/

ul.docListWindow {
	list-style-type: none;
    padding: 0 10px;
    height: 430px;
    overflow: hidden;
}
ul.docListWindow li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px dashed #dcdcdc;
    margin-bottom: 11px;
    padding-bottom: 11px;
}

ul.docListWindow li .prog-avatar {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 25px;
}

ul.docListWindow li .prog-avatar img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

ul.docListWindow .progress {
    height: 10px;
    text-indent: 0;
    margin: 0;
}

ul.docListWindow .progress-bar {
    text-align: right;
    padding-right: 15px;
    line-height: 10px;
    font-size: 10px;
}

.the-grid {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-img-top {
  
  
    width: 100%;
    height: 200px;
 border-top-left-radius: calc(.25rem - 1px);
     border-top-right-radius: calc(.25rem - 1px);
}
.spaceing {
    padding: 15px;
}

.card-img {
    height: 200px;
    width: 100%;
    object-fit: scale-down;
}
/**************************************
			2. NOTIFICATIONS
***************************************/

.noti-information .notification-list {
    padding: 0;
}

.notification-list a:first-child {
    border-top: none;
}

.noti-information .notification-list a {
    padding: 10px 18px 10px 18px;
}
.notification-list a {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #f3f3f3;
    color: #2b2b2c;
    text-decoration: none;
    font-size: 14px;
}

.notification-list.not-list a span.icon {
    margin-top: 5px;
}

.notification-list.mail-list a span.icon {
    padding: 3px 10px;
    margin-top: 0px;
    color: white;
}

.notification-list a span.icon {
    margin-right: 15px;
    font-size: 16px;
    float: left;
}

.notification-list.mail-list.not-list {
    height:360px;
    overflow:hidden;
}

.notification-list p,
.notification-list p small {
    margin: 0;
    padding: 0;
}

.noti-information .mail-list .un-read,
.noti-information .mail-list .read {
    right: 20px;
}
.not-list span.icon {
    width: 40px;
    height: 40px;
    line-height: 33px;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
}

/**************************************
			3. EMAIL
***************************************/
.mail-list .single-mail {
    position: relative;
}

a.single-mail.text-center.view-all {
    background: white;
    margin: 20px 0 0 0;
}
.mail-list .un-read,
.mail-list .read {
    position: absolute;
    right: 0px;
    top: 32px;
    font-size: 12px;
    color: #dfdfe2;
}
.vew-mail-header {
    color: #666f7b;
    font-weight: 700;
}
h4.vew-mail-header b {
    font-weight: 700;
}
.compose-editor{
	padding-left: 15px;
}
.mail-label {
    padding: .2em .6em .3em !important;
}
.mail-counter-style {
    padding: 2px 6px 4px !important;
}

/**************************************
			4. SELECT ITEM
***************************************/
.select.control {
    background: #262936;
    border-radius: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    position: relative;
}

.select.control:after {
    content: " ";
    width: 7px;
    height: 9px;
    background: url(images/arrow-down.html);
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    z-index: 1;
}

.select.control select {
    padding: 10px 30px;
    width: 110%;
    border: none;
    background: none;
    outline: none;
    -webkit-appearance: none;
    color: white;
}
/**************************************
			5. THEME CHANGE WINDOW
***************************************/
.control-sidebar-btn.btn {
    position: absolute;
    left: -53px;
    padding: 25px;
    z-index: 999;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    font-size: 18px;
    color: #fff;
    border-color: #2f323e;
    background-color: #2f323e;
    margin: 0;
}
.control-sidebar-btn i {
    position: absolute;
    top: 18px;
    left: 15px;
}
.display-none{
	display: none;
}
.control-sidebar-btn.btn {
    position: absolute;
    left: -53px;
    padding: 25px;
    z-index: 999;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    font-size: 18px;
    color: #fff;
    border-color: #2f323e;
    background-color: #2f323e;
    margin: 0;
}
.control-sidebar-btn i {
    position: absolute;
    top: 18px;
    left: 15px;
}
.quick-setting-main {
    float: left;
    position: fixed;
    top: 25%;
    z-index: 99999;
    right: 0;
}
.quick-setting {
    float: left;
    background-color: #eee;
    border: 5px solid #ddd;
    display: none;
    margin-top: -15px;
    max-width: 380px;
    padding: 20px;
}
.quick-setting ul#themecolors li {
    list-style: none;
}
.quick-setting ul#themecolors {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    max-width: 330px;
}
.quick-setting ul#themecolors li a {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 5px;
    color: transparent;
    position: relative;
    background-color: #EAEEF3; 
}
.quick-setting ul#themecolors li a.green-theme {
    background-color: #0f0;
}
.quick-setting ul#themecolors li a.turquoise {
    background-color: #00c5cd;
}
.theme-color a {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 5px 8px 5px 0;
    -webkit-box-shadow: 0.4px 0.9px 3px 0 rgba(0,0,0,0.33);
    box-shadow: 0.4px 0.9px 3px 0 rgba(0,0,0,0.33);
    overflow: hidden;
    width: 45px;
    height: 40px;
}
.theme-color a[data-theme="white"] .head:before,
.theme-color a[data-theme="white"] .head:after,
.theme-color a[data-theme="dark"] .head:before,
.theme-color a[data-theme="blue"] .head:before,
.theme-color a[data-theme="indigo"] .head:before,
.theme-color a[data-theme="red"] .head:before,
.theme-color a[data-theme="cyan"] .head:before,
.theme-color a[data-theme="logo-white"] .head:before,
.theme-color a[data-theme="logo-white"] .head:after,
.theme-color a[data-theme="logo-dark"] .head:before,
.theme-color a[data-theme="logo-blue"] .head:before,
.theme-color a[data-theme="logo-indigo"] .head:before,
.theme-color a[data-theme="logo-cyan"] .head:before,
.theme-color a[data-theme="logo-green"] .head:before,
.theme-color a[data-theme="logo-red"] .head:before,
.theme-color a[data-theme="header-white"] .head:before,
.theme-color a[data-theme="header-white"] .head:after{
    background: #fff;
}
.theme-color a[data-theme="white"] .cont:after{
    background: #fff;
}
.theme-color a[data-theme="dark"] .cont:after,
.theme-color a[data-theme="header-dark"] .head:before,
.theme-color a[data-theme="header-dark"] .head:after{
    background: #303548;
}
.theme-color a[data-theme="blue"] .cont:after,
.theme-color a[data-theme="blue"] .head:after,
.theme-color a[data-theme="logo-blue"] .head:after,
.theme-color a[data-theme="header-blue"] .head:before,
.theme-color a[data-theme="header-blue"] .head:after{
    background: #5093EB;
}
.theme-color a[data-theme="indigo"] .cont:after,
.theme-color a[data-theme="indigo"] .head:after,
.theme-color a[data-theme="logo-indigo"] .head:after,
.theme-color a[data-theme="header-indigo"] .head:before,
.theme-color a[data-theme="header-indigo"] .head:after{
	background: #6673FC;
}
.theme-color a[data-theme="cyan"] .cont:after,
.theme-color a[data-theme="cyan"] .head:after,
.theme-color a[data-theme="logo-cyan"] .head:after,
.theme-color a[data-theme="header-cyan"] .head:before,
.theme-color a[data-theme="header-cyan"] .head:after{
	background: #4ABAD2;
}
.theme-color a[data-theme="green"] .cont:after,
.theme-color a[data-theme="green"] .head:after,
.theme-color a[data-theme="logo-green"] .head:after,
.theme-color a[data-theme="header-green"] .head:before,
.theme-color a[data-theme="header-green"] .head:after{
	background: #49D075;
}
.theme-color a[data-theme="red"] .cont:after,
.theme-color a[data-theme="red"] .head:after,
.theme-color a[data-theme="logo-red"] .head:after,
.theme-color a[data-theme="header-red"] .head:before,
.theme-color a[data-theme="header-red"] .head:after{
	background: #E44F56;
}
.theme-color a[data-theme="dark"] .head:after,
.theme-color a[data-theme="logo-dark"] .head:after{
    background: #303548;
}
.layout-theme a[data-theme="dark"] .cont{
	background: #464545;
}
.layout-theme a[data-theme="dark"] .head:before{
	background: #242b3a;
}
.layout-theme a[data-theme="light"] .cont{
	background: #ffffff;
}
.layout-theme a[data-theme="light"] .head:before{
	background: #ffffff;
}
.layout-theme a[data-theme="light"] .head:after{
	background: #6673FC;
}

.theme-color a .head {
    height: 10px;
}
.theme-color a .cont, .theme-color a .head {
    display: block;
    position: relative;
}
.theme-color a .cont:before, .theme-color a .head:before {
    width: 60%;
    right: 0;
}
.theme-color a .cont:after, .theme-color a .cont:before, .theme-color a .head:after, .theme-color a .head:before {
    content: "";
    height: 100%;
    display: inline-block;
    position: absolute;
}
.theme-color a .cont:after, .theme-color a .head:after {
    width: 40%;
    left: 0;
}
.theme-color a .cont {
    height: 40px;
}
.theme-color a .cont:after, .theme-color a .head:after {
    width: 40%;
    left: 0;
}
/**************************************
			6. SOCIAL BUTTONS
***************************************/
.btn-facebook {
  color: #ffffff !important;
  background-color: #3b5998 !important;
}
.btn-twitter {
  color: #ffffff !important;
  background-color: #00aced !important;
}
.btn-linkedin {
  color: #ffffff !important;
  background-color: #007bb6 !important;
}
.btn-dribbble {
  color: #ffffff !important;
  background-color: #ea4c89 !important;
}
.btn-googleplus {
  color: #ffffff !important;
  background-color: #dd4b39 !important;
}
.btn-instagram {
  color: #ffffff !important;
  background-color: #517fa4 !important;
}
.btn-pinterest {
  color: #ffffff !important;
  background-color: #cb2027 !important;
}
.btn-dropbox {
  color: #ffffff !important;
  background-color: #007ee5 !important;
}
.btn-flickr {
  color: #ffffff !important;
  background-color: #ff0084 !important;
}
.btn-tumblr {
  color: #ffffff !important;
  background-color: #32506d !important;
}
.btn-skype {
  color: #ffffff !important;
  background-color: #00aff0 !important;
}
.btn-youtube {
  color: #ffffff !important;
  background-color: #bb0000 !important;
}
.btn-github {
  color: #ffffff !important;
  background-color: #171515 !important;
}
/**************************************
			7. MEGA MENU
***************************************/
.megamenu-header {
    display: block;
    padding: 0px 20px 5px 0px;
    font-size: 22px;
    line-height: 1.428571429;
    color: #fafafa;
}
.mega-menu-item-name {
    color: #fafafa;
    padding: 10px 0px 10px 0px;
}
.mega-menu-dropdown .material-icons {
    float: left;
    line-height: 24px;
}
.mega-menu-dropdown .dropdown-toggle {
    line-height: 24px;
}

/**************************************
			9. WIDGET
***************************************/
.stat-item {
    display: inline-block;
    padding-right: 15px;
}
.stats-row {
    margin-bottom: 20px;
}
.widget-gradient,
.widget-wrap-img {
    min-height: 350px;
    border-radius: 2px
}
.analysis-box{
	padding: 2px 20px 10px 20px;
	margin-bottom: 20px;
}

.legend table {
    border-spacing: 5px;
}

.clsAvailable {
    color: #0cc745;
    font-size: 13px;
    font-weight: 600;
}

.clsNotAvailable {
    color: #ff0000;
    font-size: 13px;
    font-weight: 600;
}

.clsOnLeave {
    color: #32c5d2;
    font-size: 13px;
    font-weight: 600;
}

.table-padding {
    padding-bottom: 20px;
    padding-top: 20px;
}
.doctitle {
    padding-bottom: 5px;
}
.user-bg {
    margin: -25px;
    overflow: hidden;
    position: relative;
}
.user-bg .overlay-box {
    background: #9675ce;
    opacity: .9;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
}
.user-bg .overlay-box .user-content {
    padding: 15px;
}
.user-btm-box {
    padding: 40px 0 10px;
    clear: both;
    overflow: hidden;
}
.input-group-btn .btn {
    box-shadow: none
}
.addr-font-h1 span {
    font-size: 14px;
    vertical-align: text-top;
}
.text-stat h3 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 18px
}
.text-stat span {
    font-size: 13px!important
}

.overflow-h {
    overflow: hidden
}
.rt-code {
    padding: 3px;
    color: #E43A45;
    border-radius: 4px!important;
    display: inline;
    word-wrap: normal
}
.caption-desc {
    font-size: 13px;
    margin-top: .5em;
    line-height: 2.3em
}

h4.media-heading {
    color: #3D3D3D;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}
.fa-comments-o:before {
    content: "\f0e6";
}
.panel-body {
    padding: 15px;
}
.form-group {
    margin-bottom: 15px;
}

.md {
    line-height: inherit;
    vertical-align: bottom;
}

.md-refresh:before {
    content: "\f2a4";
}

.card .btn-collapse {
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-angle-down:before {
    content: "\f107";
}
section.panel.tab-border {
    border: 1px solid #e5e5e5;
}
.language-switch a {
    color: #1E2629;
}
.notification-label {
    float: right;
    border-radius: 10px;
    padding: 0px 10px;
    color: #fff;
}

.task-body .list-group-item {
    border-width: 0 0 1px 0;
    margin: 0;
}

span.notificationtime {
    display: block;
}
span.online-status {
    display: block;
    margin-bottom: 0;
    padding: 0 22px;
    color: #9d9f9e;
    font-size: 11px;
    margin-top: 0px;
}
.addr-font-h3 {
    font-size: 24px
}
.addr-font-h4 {
    font-size: 18px
}
.close {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat!important;
    text-indent: -10000px;
    outline: 0;
    background-image: url(../img/remove-icon-small.html)!important
}
.help-block {
    margin-top: 5px;
    margin-bottom: 5px
}
.help-inline {
    font-size: 13px;
    color: #737373;
    display: inline-block;
    padding: 5px
}
.input-mini,
.input-xxs {
    width: 45px!important
}

.state-overview .addr-font-h1 {
    font-size: 36px;
    float: left;
    width: auto;
}
.no-pad-left{
	padding-left: 0 !important;
}
.text-purple .fa-facebook {
    font-size: 20px;
}
.text-success .fa-twitter {
    font-size: 20px;
}
.text-danger .fa-instagram {
    font-size: 20px;
}

.app-search {
    position: relative;
}	
.contact-detail {
    float: left;
    width: 100%;
}
.contact-detail .fa {
    float: left;
    width: 30px;
    font-size: 20px;
    margin-top: 5px;
}
.contact-detail span {
    float: left;
    width: calc(100% - 30px);
    margin-bottom: 20px;
}
.contact-detail .fa-envelope {
    font-size: 15px;
}
.contact-detail .fa-mobile {
    font-size: 25px;
}
.item img {
    max-width: 100%;
}
.dataTables_wrapper {
    margin-top: 15px;
}
tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
.profile-userpic {
    float: left;
    width: 100%;
    text-align: center;
}

.selector-title{
	margin-top: 0px !important; 
	color: #000000;
}
.note-icon-font{
	background-color: transparent !important;
}
.course-likes {
    float: right;
    margin-right: 20px;
}
.course-picture{
	float: left;
    width: 100%;
    text-align: center;
}
.bg-warning{
    color: #fff;
    background-color: #ffd200;
}
.bg-success {
    background: #5FC29D;
}

.bg-orange {
    background: #E67D21;
}

.bg-blue {
    background: #3598dc;
}

.bg-purple {
    background: #8E44AD;
}

.bg-danger{
    color: #fff;
    background-color: #e55957;
}
.green-color{
	color: green;
}

.bg-danger {
    background: #e55957;
}
.bg-b-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}
.bg-b-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}
.bg-b-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}
.bg-b-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.imgsize1{

    height: 200px;
    width: 200px;
    object-fit: scale-down;
}


/* ====================== Plugin Styles Start Here ======================== */

/*
 *  Author     : SoftDigix Theme
 *  Description: stylesheet for third  party plugin customizations
 
 
 				STRUCTURE
 				
 				1. Bootstrap DatePicker
 				2. Bootstrap Daterangepicker
 				3. Bootstrap  Datetimepicker
				4. Bootstrap Colorpicker
				5. Bootstrap Modal
				6. Bootstrap Select
				7. Color variants
				8. Data tables
				9. Spinner
				10. Fullcalendar
				11. Select2
				12. iCheck		
 */
/**********************************
		1. Bootstrap DatePicker
***********************************/
.datepicker .active,
.datepicker .active:hover,
.datepicker .selected,
.datepicker .today {
    background-image: none !important;
    filter: none !important
}
.datepaginator a {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300
}

.datepicker table td,
.datepicker table th,
.datetimepicker table td,
.datetimepicker table th {
    font-family: 'Open Sans' !important
}

#dp-calendar {
    right: 4px !important
}

.datepaginator .fa-angle-right:before {
    content: ""
}

.datepaginator .fa-angle-left:before,
.datepicker .fa-angle-left:before {
    content: ""
}

.datepicker.dropdown-menu {
    padding: 5px;
    box-shadow: 5px 5px rgba(102, 102, 102, .1);
    border: 1px solid #efefef
}

.datepicker .selected {
    background-color: #909090 !important
}

.datepicker .active {
    background-color: #4b8df8 !important
}

.datepicker .active:hover {
    background-color: #2678FC !important
}

.datepicker .input-daterange input {
    text-align: left
}

.datepicker table td {
    color: #000;
    font-weight: 300 !important
}

.datepicker table th {
    color: #333;
    font-weight: 400 !important
}

.datepicker .fa-angle-right:before,
.daterangepicker .fa-angle-right:before {
    content: ""
}

/***********************************
	2. Bootstrap Daterangepicker
************************************/

.daterangepicker {
    margin-top: 4px
}

.daterangepicker .input-mini {
    width: 100% !important;
    outline: 0 !important
}

.daterangepicker td {
    text-shadow: none
}

.daterangepicker td.active {
    background-color: #4b8df8;
    background-image: none;
    filter: none
}

.datetimepicker .active,
.datetimepicker .active:hover {
    filter: none !important;
    background-image: none !important
}

.daterangepicker th {
    font-weight: 400;
    font-size: 14px
}

.daterangepicker .ranges input[type=text] {
    width: 70px !important;
    font-size: 11px;
    vertical-align: middle
}

.daterangepicker .ranges label {
    font-weight: 300;
    display: block
}

.daterangepicker .ranges {
    width: 170px
}

.daterangepicker .ranges ul>li.active {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.daterangepicker .ranges .btn {
    margin-top: 10px
}

.daterangepicker .ranges li {
    color: #333
}

.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background: #4b8df8 !important;
    border: 1px solid #4b8df7 !important;
    color: #fff
}

.daterangepicker .range_inputs input {
    margin-bottom: 0 !important
}

.daterangepicker .fa-angle-left:before,
.datetimepicker .fa-angle-left:before {
    content: ""
}

/***********************************
	3. Bootstrap  Datetimepicker
************************************/

.datetimepicker table td {
    color: #000;
    font-weight: 300 !important;
    padding: 7px;
    text-align: center;
}

.datetimepicker table th {
    font-weight: 400 !important
}

.datetimepicker .active {
    background-color: #4b8df8 !important
}

.datetimepicker .active:hover {
    background-color: #2678FC !important
}

.datetimepicker .fa-angle-right:before {
    content: ""
}

/* change z-index when opened in modal */
.modal-open .colorpicker,
.modal-open .datepicker,
.modal-open .daterangepicker {
    z-index: 10055 !important
}
/***********************************
	4. Bootstrap Colorpicker
************************************/
.colorpicker.dropdown-menu,
.daterangepicker.dropdown-menu,
.datetimepicker.dropdown-menu {
    padding: 5px
}

.input-group.color .input-group-btn i {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    right: 6px
}

.modal-open .datetimepicker {
    z-index: 10055
}

.editable-input table,
.editable-input table td,
.editable-input table th,
.editable-input table tr {
    border: 0 !important
}

.editable-input .combodate select {
    margin-bottom: 5px
}

.fileinput {
    margin-bottom: 0
}

.fileinput .close {
    float: none
}

.fileinput .input-group {
    white-space: nowrap;
    overflow: hidden
}

/***********************************
	5. Bootstrap Modal
***********************************/

.modal {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px
}

.modal-open.page-overflow .modal-scrollable,
.modal-open.page-overflow .page-container,
.modal-open.page-overflow .page-container .navbar-fixed-bottom,
.modal-open.page-overflow .page-container .navbar-fixed-top {
    overflow-y: auto !important
}

.modal-scrollable {
    overflow: hidden !important;
    z-index: 10051;
    overflow-y: scroll !important
}

.modal-backdrop {
    position: fixed;
    bottom: 0
}

.modal {
    border-radius: 2px;
    border: 0 !important
}

.modal .modal-body {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 0
}

.modal .modal-title {
    font-weight: 400
}

.modal .modal-footer {
    border: 0 !important
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: .2;
    filter: alpha(opacity=20)
}


/***********************************
	6. Bootstrap Select
***********************************/

.bootstrap-select .btn {
    border-color: #c2cad8
}

.has-error .bootstrap-select .btn {
    border-color: #fbe1e3
}

.has-success .bootstrap-select .btn {
    border-color: #abe7ed
}

.has-warning .bootstrap-select .btn {
    border-color: #f9e491
}

.bootstrap-select.open .btn,
.bootstrap-select.open.dropup .btn {
    border-color: #93a1bb
}

.bootstrap-select .btn:focus {
    outline: 0 !important;
    outline-offset: 0
}

.bootstrap-select.btn-group .dropdown-menu {
    margin-top: 1px
}

.bootstrap-select.btn-group .dropdown-menu>li>dt>.text {
    font-weight: 600;
    font-family: 'Open Sans';
    font-size: 14px
}

.bootstrap-select.btn-group .dropdown-menu .text-muted {
    color: #999 !important
}

.bootstrap-select .caret {
    border: 0;
    width: auto;
    height: auto;
    margin-top: -10px !important
}

.bootstrap-select .caret:before {
    content: "\f107";
    display: inline-block;
    border: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400
}

.bootstrap-select .selected i {
    color: #aaa
}

.bootstrap-select .dropdown-menu {
    z-index: 9999 !important
}

/********************************************
	7. Color variants
*********************************************/
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #fff;
    background: #337ab7
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info {
    color: #fff;
    background: #659be0
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    color: #fff;
    background: #36c6d3
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning {
    color: #fff;
    background: #F1C40F
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger {
    color: #fff;
    background: #ed6b75
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
    color: #444;
    background: #e8eaef
}

.bootstrap-timepicker-widget table td a {
    padding: 4px 0
}

.bootstrap-timepicker-widget input,
.bootstrap-timepicker-widget input:focus {
    outline: 0 !important;
    border: 0
}

.modal-open .bootstrap-timepicker-widget {
    z-index: 10055 !important
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:after,
.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
    top: auto
}

.toast {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #030303
}

.tabbable-tabdrop .nav-pills,
.tabbable-tabdrop .nav-tabs {
    position: relative
}

.tabbable-tabdrop .nav-pills .caret,
.tabbable-tabdrop .nav-tabs .caret {
    display: none
}

.tabbable-tabdrop .nav-pills .tabdrop .dropdown-toggle i,
.tabbable-tabdrop .nav-tabs .tabdrop .dropdown-toggle i {
    font-size: 14px
}

.CSSAnimationChart a,
.mapChart a {
    color: #bbb !important;
    font-size: 12px !important
}

.tabbable-tabdrop .dropdown-menu:after {
    right: 10px;
    left: auto
}

.tabbable-tabdrop .dropdown-menu:before {
    right: 9px;
    left: auto
}

.wysihtml5-sandbox {
    width: 100% !important
}

.wysihtml5-toolbar li {
    margin: 0;
    height: 29px
}

.wysihtml5-toolbar li .dropdown-menu {
    margin-top: 5px
}

.has-error .wysihtml5-sandbox {
    border: 1px solid #fbe1e3 !important
}

.has-success .wysihtml5-sandbox {
    border: 1px solid #abe7ed !important
}

.has-warning .wysihtml5-sandbox {
    border: 1px solid #f9e491 !important
}

.note-editor {
    border: 1px solid #c2cad8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.note-editor .note-toolbar {
    border-bottom: 1px solid #c2cad8;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0
}

.note-editor .note-statusbar {
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -ms-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px
}

.note-editor .note-statusbar .note-resizebar {
    border-top: 1px solid #c2cad8
}

.note-editor.note-frame.fullscreen {
    z-index: 10050;
    width: 100% !important
}

.note-editor .dropdown-menu:before {
    left: 9px;
    right: auto
}

.note-editor .dropdown-menu:after {
    left: 10px;
    right: auto
}

.note-link-dialog .checkbox {
    margin-left: 20px
}

.has-error .note-editor {
    border: 1px solid #fbe1e3 !important
}

.has-success .note-editor {
    border: 1px solid #abe7ed !important
}

.has-warning .note-editor {
    border: 1px solid #f9e491 !important
}

.gtreetable .dropdown-menu {
    margin-top: 0
}

.gtreetable .dropdown-menu:after,
.gtreetable .dropdown-menu:before {
    display: none !important
}

.gtreetable .node-action .form-control {
    position: relative;
    top: 2px;
    display: inline-block
}

.gtreetable .node-icon-ce,
.gtreetable .node-icon-handle,
.gtreetable .node-icon-selected,
.gtreetable .node-icon-type {
    opacity: .6;
    filter: alpha(opacity=60)
}

.bootstrap-tagsinput .tag [data-role=remove] {
    box-shadow: none;
    font-family: arial
}

.bootstrap-tagsinput .tag [data-role=remove]:after {
    font-family: arial
}

.bootstrap-tagsinput .tag [data-role=remove]:hover {
    text-decoration: none;
    box-shadow: none
}

.rt-bootstrap-tables .rt-btm-transform .bars {
    height: auto
}

.CSSAnimationChart,
.mapChart {
    width: 100%;
    height: 500px;
}

.fixed-table-toolbar .columns label {
    margin: 10px;
    padding: 0 0 0 30px;
}

.fixed-table-header th.bs-checkbox {
    outline: 0;
}

.fixed-table-header th.bs-checkbox .th-inner {
    overflow: visible
}

.fixed-table-header th.bs-checkbox .th-inner .rt-chkbox {
    right: -5px;
}

.bootbox .bootbox-close-button {
    margin-top: 0 !important;
}

.amcharts-graph-g2 .amcharts-graph-stroke {
    -webkit-animation: am-moving-dashes 1s linear infinite;
    animation: am-moving-dashes 1s linear infinite
}

@ -webkit-keyframes am-moving-dashes {
    100% {
        stroke-dashoffset: -31px;
    }
}

@ keyframes am-moving-dashes {
    100% {
        stroke-dashoffset: -31px;
    }
}

.lastBullet {
    -webkit-animation: am-pulsating 1s ease-out infinite;
    animation: am-pulsating 1s ease-out infinite
}

@ -webkit-keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0;
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 50px;
    }
}

@ keyframes am-pulsating {
    0% {
        stroke-opacity: 1;
        stroke-width: 0
    }
    100% {
        stroke-opacity: 0;
        stroke-width: 50px
    }
}

.amcharts-graph-column-front {
    -webkit-transition: all .3s .3s ease-out;
    transition: all .3s .3s ease-out
}

.amcharts-graph-column-front:hover {
    fill: #496375;
    stroke: #496375;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.amcharts-graph-g3 {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 500%;
    stroke-dasharray: 0\9;
    stroke-dashoffset: 0\9;
    -webkit-animation: am-draw 40s;
    animation: am-draw 40s
}

@ -webkit-keyframes am-draw {
    0% {
        stroke-dashoffset: 500%
    }
    100% {
        stroke-dashoffset: 0
    }
}

@ keyframes am-draw {
    0% {
        stroke-dashoffset: 500%
    }
    100% {
        stroke-dashoffset: 0
    }
}
/************************************
	8. Data tables
*************************************/
.table-checkable tr>td:first-child,
.table-checkable tr>th:first-child {
    text-align: center;
    max-width: 50px;
    min-width: 40px;
    padding-left: 0;
    padding-right: 0
}

table.dataTable thead td,
table.dataTable thead th {
    border-bottom: 2px solid #e7ecf1;
    outline: 0 !important
}

table.dataTable.no-footer {
    border-bottom-color: #e7ecf1
}

.dataTables_extended_wrapper.DTS .dataTables_scrollBody,
.dataTables_extended_wrapper.DTS .dataTables_scrollHead {
    border-bottom: 0 !important
}

table.dataTable tr.heading>th {
    background-color: #fbfcfd
}

table.dataTable td.sorting_1,
table.dataTable td.sorting_2,
table.dataTable td.sorting_3,
table.dataTable th.sorting_1,
table.dataTable th.sorting_2,
table.dataTable th.sorting_3 {
    background: #fbfcfd !important
}

.paging_bootstrap_extended {
    margin: 5px 0 0 !important;
    padding: 0 !important;
    float: none !important;
    font-size: 13px
}

.dataTables_extended_wrapper {
    margin-top: 10px
}

.dataTables_extended_wrapper .seperator {
    padding: 0 2px
}

.dataTables_extended_wrapper .table.dataTable {
    margin: 20px 0 !important
}

.dataTables_extended_wrapper div.dataTables_info,
.dataTables_extended_wrapper div.dataTables_length,
.dataTables_extended_wrapper div.dataTables_paginate {
    display: inline-block;
    float: none !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important
}

.dataTables_extended_wrapper .table-group-actions>span {
    font-size: 13px
}

.dataTables_extended_wrapper.DTS .paging_bootstrap_extended {
    display: inline-block
}

.dataTables_extended_wrapper.DTS .dataTables_info {
    display: inline-block;
    padding-top: 8px !important
}

.dataTables_extended_wrapper.DTS .dataTables_info .seperator {
    display: none
}

.dataTables_extended_wrapper.DTS .dataTables_scrollHead .dataTables_scrollHeadInner .table.dataTable {
    margin-bottom: 0 !important
}

.dataTables_extended_wrapper.DTS .dataTables_scrollBody .table.dataTable {
    margin: 0 !important
}

.dataTables_extended_wrapper div.dataTables_length label {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 13px;
    float: none !important;
    display: inline-block !important
}

.table-container .table-actions-wrapper {
    display: none
}

.dataTables_scroll {
    margin-bottom: 10px
}

.dataTables_scrollHead {
    border-bottom: 2px solid #e7ecf1 !important
}

.dataTables_scrollHead thead th {
    border-bottom: 0 !important
}

.dataTables_scrollBody {
    border-bottom: 1px solid #e7ecf1 !important
}

.table-both-scroll .dataTables_scrollBody {
    border-bottom: 0 !important
}

.dataTables_wrapper .dataTables_processing {
    width: 200px;
    display: inline-block;
    padding: 7px;
    left: 50%;
    margin-left: -100px;
    margin-top: 10px;
    text-align: center;
    color: #3f444a;
    border: 1px solid #e7ecf1;
    background: #eef1f5;
    vertical-align: middle;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, .1)
}

.dt-button-background {
    display: none !important
}

div.dt-button-collection {
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 5px 5px rgba(102, 102, 102, .1);
    padding: 0
}

div.dt-button-collection>a.dt-button {
    background: 0 0;
    padding: 8px 16px;
    font-weight: 300;
    margin: 1px;
    box-shadow: none !important;
    border: 0 !important
}

div.dt-button-collection>a.dt-button>span {
    font-size: 14px;
    color: #333
}

div.dt-button-collection>a.dt-button.active {
    background: #f6f6f6 !important;
    box-shadow: none !important;
    border: 0 !important
}

div.dt-button-collection>a.dt-button.active>span {
    color: #333
}

a.dt-button,
button.dt-button,
div.dt-button {
    background-image: none !important;
    padding: 6px 12px !important
}

a.dt-button:last-child,
button.dt-button:last-child,
div.dt-button:last-child {
    margin-right: 0
}

.dataTables_wrapper .dt-buttons {
    float: right
}

.dataTable .row-details.row-details-close {
    background: url(../img/datatable-row-openclose.html) no-repeat
}

.dataTable .row-details.row-details-open {
    background: url(../img/datatable-row-openclose.html) 0 -23px no-repeat
}

.dataTable td .popover-content .btn-group {
    position: static !important
}
.table .btn-group .btn {
    margin-left: 0;
    margin-right: -1px
}
/*******************************
	9. Spinner
********************************/
.spinner-buttons.btn-group-vertical .btn {
    text-align: center;
    margin: 0;
    height: 17px;
    width: 22px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0
}
.page-style-rounded .spinner-buttons.btn-group-vertical .btn.spinner-up {
    border-radius: 0;
    border-top-right-radius: 2px !important
}
.page-style-rounded .spinner-buttons.btn-group-vertical .btn.spinner-down {
    border-radius: 0 0 2px
}

/***********************************************
	10. Fullcalendar
***********************************************/

.external-event {
    display: inline-block;
    cursor: move;
    margin-bottom: 5px;
    margin-left: 5px
}
.fc-scroller {
    overflow-y: auto;
    overflow-x: hidden
}
.fc-month-view .fc-scroller {
    height: auto !important
}

/***********************************
			11. Select2
***********************************/

.select2-container--bootstrap .select2-search--dropdown .select2-search__field,
.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: none;
    box-shadow: none
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 3px
}
.select2-container--bootstrap .select2-results__group {
    display: block;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 600
}
.modal-open .select2-dropdown {
    z-index: 10060
}
.modal-open .select2-close-mask {
    z-index: 10055
}
.modal-open .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    width: auto !important
}
.select2-result-repository {
    padding-top: 4px;
    padding-bottom: 3px
}
.select2-result-repository__avatar {
    float: left;
    width: 60px;
    margin-right: 10px
}
.select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 2px
}
.select2-result-repository__meta {
    margin-left: 70px
}
.select2-result-repository__title {
    color: #000;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 4px
}
.select2-result-repository__forks,
.select2-result-repository__stargazers {
    margin-right: 1em
}
.select2-result-repository__forks,
.select2-result-repository__stargazers,
.select2-result-repository__watchers {
    display: inline-block;
    color: #aaa;
    font-size: 11px
}
.select2-result-repository__description {
    font-size: 13px;
    color: #777;
    margin-top: 4px
}
.select2-results__option--highlighted .select2-result-repository__title {
    color: #fff
}
.select2-results__option--highlighted .select2-result-repository__description,
.select2-results__option--highlighted .select2-result-repository__forks,
.select2-results__option--highlighted .select2-result-repository__stargazers,
.select2-results__option--highlighted .select2-result-repository__watchers {
    color: #c1d7e9
}
.select2-selection__choice {
    background-color: #eee !important;
    border: 1px solid #eee !important
}
.select2-selection__choice .select2-selection__choice__remove {
    font-weight: 400 !important
}
/***********************************
	12. iCheck
***********************************/

.icheck-list>label {
    display: block;
    margin-bottom: 8px
}
.icheck-list>label:last-child {
    margin-bottom: 0
}
.form-horizontal .icheck-inline {
    margin-top: 8px
}
.icheck-inline>label {
    margin-left: 15px
}
.icheck-inline>label:first-child {
    margin-left: 0
}
div[class*=icheckbox_],
div[class*=iradio_] {
    margin-right: 5px;
    top: -1px !important
}
.ui-select-match-close {
    margin-top: 5px !important;
    margin-left: 5px !important
}
.minicolors-swatch {
    border: 0
}
pre[class*=language-] {
    padding: 10px;
    background: 0 0 !important;
    border: 1px solid #f1f4f7 !important;
    box-shadow: none !important;
    margin: 0
}
pre[class*=language-] code {
    background: 0 0 !important;
    box-shadow: none !important;
    border: 0 !important
}

/* =============== Plugin Styles End Here ============= */
/* =============== Material styles Start Here ========== */

/*
 *  Document   : material_style.css
 *  Author     : SoftDigix Theme
 *  Description: This style sheet is used for customize material design components.
 
 
 				[Table Of Content]
 				
 				1. MENU
 				2. TABLE
 				3. BADGES
*/
/**********************************
			1. MENU
**********************************/
.menuBackground {
   background: white;
   height: 148px;
   width: 100%;
}

.menuBar {
   box-sizing: border-box;
   background: #0080c0;
   color: white;
   width: 100%;
   height: 64px;
   padding: 16px;
}

/**********************************
			2. TABLE
**********************************/
.ml-table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
.mdl-data-table thead {
    background: #FAFAFA;
}
.mdl-data-table{
	width: 100% !important;
}
.ml-table-bordered>tbody>tr>td, .ml-table-bordered>thead>tr>td {
    border: 1px solid #F0F0F0;
}

/**********************************
			3. BADGES
**********************************/
.badges .ml-card-holder .demo-badge-3[data-badge]:after {
    background-color: #9c27b0;
}

.mdl-badge .demo-badge-3[data-badge]:after{
	 background-color: #9c27b0;
}





.mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet {
    padding: 15px 10px 15px 20px;
}
.mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet:hover {
    background: rgba(0,0,0,.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.wrapper {
   box-sizing: border-box;
   position: absolute;
   right: 16px;
}

.mdl-tabs__tab {
    text-decoration: none !important;
}
.mdl-textfield__label:after{
	bottom: 13px !important;
}


.mdl-gridcell{
	background: #bdbdbd;
  padding: 30px 0;
  text-align: center;
  color: #424242;
  font-weight: bold;
  margin: 8px;
}
.mdl-foo{
  background:black;
  padding: 5px;
}
.txt-width{
	width: 100% !important;
	max-width: 500px !important;
}
.full-width{
	width: 100% !important;
}
.select-width{
	width: 100% !important;
	max-width: 300px !important;
}
.getmdl-select .mdl-icon-toggle__label {
    float: right;
    margin-top: -30px;
    color: rgba(0,0,0,0.4);
}
.mdl-button--fab:focus {
    outline: none !important;
}
.mdl-button--icon:focus {
    outline: none !important;
}
.mdl-textfield__label {
    color: #bfbebe !important;
    font-size: 13px !important;
}
.mdl-textfield__input{
	color: #191313 !important;
    font-size: 13px !important;
}
.tab-left-side{
	justify-content: flex-start !important;
}
.tab-right-side{
	justify-content: flex-end !important;
}
.page-header.navbar .page-logo{
	line-height: 1.7 !important;
}
.txt-full-width {
    width: 100% !important;
}
.menuBar .mdl-button .material-icons {
    color: #ffffff;;
}
.mdl-js-button {
	right: 10px;
}
.mdl-menu__item{
	font-size: 12px;
}
.mdl-menu__item .material-icons{
	padding-right: 10px;
    vertical-align: middle;
}
.mdl-cell {
    float: left;
}
#headerSettingButton {
    color: #ffffff;
}
.mdl-tabs__tab.tabs_three {
    width: calc(100% / 3);
}
.mdl-tabs__panel table tr:first-child th {
    border: 0;
}
.dtp .dtp-buttons{
	text-align: center !important;
}
.dtp-buttons button{
	margin-left: 10px;
}

/* ================ Material Styles end Here ================ */


/* ================ Login Page Styles Start Here ============ */
.login-block{
background: #59C173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
height:100%;
min-height:740px;
padding : 100px 0;
}
.bgc{
    background: #59C173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.banner-sec{background:url(../img/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.loginbox{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#5D26C1;font-size:18px;}
.login-sec .copy-text a{color:#5D26C1; }
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #5D26C1;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#a17fe0; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #5D26C1; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

/* =========== Login Page Styles End Here =============== */
